name: Construcci贸n y despliegue de una aplicaci贸n MVC a Azure

env:
  AZURE_WEBAPP_NAME: upt-awa-677  # Aqui va el nombre de su aplicaci贸n
  AZURE_WEBAPP_PACKAGE_PATH: '.'          # Es la ruta de destino
  DOTNET_VERSION: '8'                     # la versi贸n de .NET

on:
  push:
    branches: [ "main" ]
  #   paths:
  #     - 'infra/**'
  #     - '.github/workflows/**'
  workflow_dispatch:
permissions:
  contents: read
  packages: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v3
        with:
            registry: ghcr.io
            username: ${{github.actor}}
            password: ${{secrets.GITHUB_TOKEN}}

      - name: 'Build Inventory Image'
        run: |
            docker build . --tag ghcr.io/${{github.actor}}/shorten:${{github.sha}}
            docker push ghcr.io/${{github.actor}}/shorten:${{github.sha}}

  deploy:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Development'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Desplegar a Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: ghcr.io/${{github.actor}}/shorten:latest